@{
    ViewData["Title"] = "View Product";
}
@model Association

<div class="p-5 d-flex justify-content-between w-75 mx-auto">
    <h1>@ViewBag.DisplayProduct.Name</h1>
</div>

<form asp-action="AddCategoryToProduct" asp-controller="Home" method="post" class="m-5">
    <input type="hidden" asp-for="ProductId" value="@ViewBag.DisplayProduct.ProductId">
    <div class="form-group w-50">
        <label asp-for="CategoryId"></label>
        <select asp-for="CategoryId">
            @{
                foreach(Category gory in ViewBag.AllCategories)
                {
                    <option value="@gory.CategoryId">@gory.Name</option>
                }
            }
        </select>
    </div>
    <input type="submit" class="btn btn-info">
</form>

<h2>Categories This Item Falls Under:</h2>
<ul>
    @{
        foreach(Association ass in ViewBag.DisplayProduct.ProductCategory)
        {
            <li>@ass.Category.Name</li>
        }
    }
</ul>